@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: #4e4e71;
}


 /* ****************************
        DRY STYLING
   **************************** */
header,
nav,
.profile__nav, 
.dashboard,
.alert,
.alert-banner,
.traffic__container,
.traffic__nav,
.social_container,
.members__container,
.message-container,
.settings_container {
    display: flex;
}

.notif,
.nav__link,
.dashboard,
#alert {
    text-align: center;
}

header,
.bell {
    color: #fff;
}

.page-wrap,
.main {
    display: grid;
}

.section_title {
    margin: 15px;
}

.message-btn,
.save-btn,
.cancel-btn {
    background-color: #7477BF;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.traffic,
.daily,
.mobile-users,
.social,
.new-members,
.recent-activity {
    border-bottom: 0.1px solid rgb(228, 228, 228);
}

.mobile-users,
.recent-activity,
.settings {
    border-left: 0.1px solid rgb(228, 228, 228);
}

 /* ****************************
        BODY
   **************************** */

.page-wrap {
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}


 /* ****************************
        HEADER
   **************************** */

header {
    align-items: center;
    justify-content: space-between;
    background-color: #7477BF;
    grid-area: header;
    padding: 20px;
}
.logo {
    margin-top: 10px;
    font-size: 1.4em;
}
.profile__nav {
    list-style: none;
    align-items: center;
}
    .profile__nav li {
        margin-right: 15px;
    }
    
.profile__picture {
    border-radius: 50%;
    height: 2em;
}
.profile__name {
    font-size: 1em;
}
.bell{
    height: 1.2em;
}
.container__notif {
    position: relative;
}
.notif {
    position: absolute;
    left: 16px;
    top: -4px;
    padding: 4px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #84d386;
}

    /* ****************************
            NAVIGATION
    **************************** */

nav {
    position: sticky;
    top: 0;
    background-color: #4e4e71;
    grid-area: nav;
}

.nav__link {
    width: 100%;
    padding: 10px 0;
    height: 30px;
    opacity: 0.8;
    border-top: 2px solid transparent;
}   
    .nav__link:focus,
    .nav__link:active {
        border-top: 2px solid #84d386;
        opacity: 1;
    }
    .nav__link--img {
    height: inherit;
}


  /* ****************************
        MAIN
    **************************** */

.main {
    grid-area: main;
}


.alert-banner {
    justify-content: space-between;
    padding: 20px;
    background-color: #7477BF;
    color: #fff;
    border-radius: 10px;    
    margin: 10px auto;
}
    .alert-banner p {
        margin-left: 5px;
        padding: 0 8px; 
    }
    /* ****************************
        DASHBOARD */

.dashboard {
    justify-content: space-between;
}
    .section_title {
        flex: 1;
    }
    .dashboard div {
        flex: 3;
        background-color: #fbfbfb;
        border: 1px solid #bfbfc5;
        border-radius: 0 0 0 5px;
        height: 55px;
       
    }
    .search__bar {
        border: 1px solid #bfbfc5;
        border-radius: 3px;
        width: 50%;
        height: 30px;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        text-indent: 5px;
    }

    /* ****************************
        TRAFFIC */

.traffic__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
    

.traffic__nav {
        list-style: none;
        margin-right: 15px;
    }
.traffic__nav-link {
        margin-left: 10px;
        padding: 0.4em 1em 0.4em 1em;
    }
    .traffic__nav-link:hover {
        background-color: rgb(11, 221, 123);
        padding: 0.4em 1em 0.4em 1em;
        border-radius: 30px;
        color: white;
    }

.widget-container-full, 
.widget-container-half {
    width: 95vw;
}

select {
    max-width: 150px;
}

.widget-container-full {
    margin: 15px auto;
}

.widget-container-half {
    margin: 15px auto;
}

#mobile-chart {
    margin-bottom: 20px;
}

    /* ****************************
        Social */


.social_container {
    align-items: center;
    margin: 15px auto;
    padding: 5px;
    background-color: #fbfbfb;
    border: 1px solid #bfbfc5;
    width: 90%;
    margin-bottom: 15px;
}

.social-image {
    margin-left: auto;
    padding: 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #7477BF;
    fill: #fff;
}
.icon {
    height: 50px;
    width: 50px;
}
    .twitter {
        position: relative;
        top: 13px;
        left: 9px;
    }
    .facebook {
        position: relative;
        top: 4px;
        left: 3px;
    }
    .google {
        position: relative;
        top: 8px;
        left: 9px;
    }
.social__text {
    margin: 0 auto;
}
.social__text h4 {
    font-weight: bold;
    color: #7477BF;
}
.social__text p {
    font-weight: 400;
    font-size: 1.8em;
}

    /* ****************************
        Members */
.members__container {
    margin: 20px auto;
    padding: 0 5%;
}
.members__text {
    padding-top: 5px;
    font-size: 15px;
}
.date {
    margin-left: auto; 
    float: right;
}
.members__container img {
    height: 3.5em;
    border-radius: 50%;
    margin-right: 15px; 
}

/* ****************************
        Recent Activity */
.activity__container {
    display: flex;
    margin: 20px auto;
    padding: 0 5%;
}
    .activity__container img {
        height: 3.5em;
        border-radius: 50%;
    }
.activity__text {
    margin-left: 10px; 
    margin-bottom: 20px;
    font-size: 13px;
}
    .activity__text a {
        font-size: 11px;
    }
/* ****************************
        Messages */
.message-container {
    flex-direction: column;
    margin: auto 10px;
}

.message-container input,
.message-container textarea {
    margin-bottom: 10px;
}
.message-container input {
    height: 30px;
    border-radius: 6px;
    border: 1px solid #bfbfc5; 
}
.message-container textarea {
    margin-bottom: 35px;
    height: 100px;
    border-radius: 6px; 
    border: 1px solid #bfbfc5;
}

.message-btn {
    margin-bottom: auto; 
}

/* ****************************
        Settings */
.settings_container {
    flex-direction: column;
    padding: 10px 30px;
    margin-bottom: 20px; 
}

.switch-light {
    margin-bottom: 20px;
}

.timezone {
    max-width: none;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #bfbfc5; 
}

.btn-settings {
    display: flex;
}
.cancel-btn {
    background-color: #d6d6da;
    color: #6a6a6e;
}

.save-btn,
.cancel-btn {
    flex: 1;
    margin: 0 5px;
}


/*****************************
            DESKTOP STYLING
                    *****************************/

@media (min-width: 768px) {
   

    /* ****************************
        GRID DISTRIBUTION */

    .page-wrap {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }

    .main {
        grid-template-columns: 50% 50%;
    }

    .dashboard,
    #alert,
    .traffic,
    .social {
        grid-column: 1 / span 2;
    }
    
    .daily, 
    .new-members,
    .message {
        grid-column: 1 / span 1;
    }
    
    .mobile-users,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }
    
    .widget-container-full {
        margin: 25px auto;
        width: 90vw;
    }
    
    .widget-container-half {
        width: 45vw;
        margin: 25px auto;
    }
  


    /* ****************************
            NAVIGATION - DESKTOP
    **************************** */

nav {
    flex-direction: column;
    padding-top: 10px;
    border-top: 0;
    border-left: 2px solid transparent;
}

.nav__link:focus,
    .nav__link:active {
        border-top: 0;
        border-left: 2px solid #84d386;
        opacity: 1;
    }
 

   /* ****************************
        SOCIAL Stats */

.social {
    display: inline-flex;
}
    .social h3 {
        display: none
    }
.social_container {
    margin:20px;
}


}